<h1><%= "#{t(:shipping_address)}" %></h1>

<div class="row">
  <div class='col-lg-5'>
    <%= render 'form' %>
  </div>
  <div class="col-lg-offset-2 col-lg-5">
    <%= render 'carts/summary' %>
  </div>
</div>