<h1>Editing variant</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_product_variant_path(@variant.master_id, @variant) %> |
<%= link_to 'Back', admin_product_variants_path(@variant.master_id) %>
