/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'bootstrap.css';
@import 'bootstrap-glyphicons.css';
@import 'scaffold.css';

.box {
  border: solid 1px #ddd;
  border-radius: 4px;
  background-color: #fff;
  padding: 15px;
}

/* we push the content down some and clean up the edges on mobile devices */
@media (max-width: 767px) {
    .content {
      padding: 15px;
      margin-top: 100px;
    }
}

/* When we were on larger screen sizes we can show our vertical menu bar */
@media (min-width: 768px) {
    /* clean up some of the default Bootstrap styles for panels in the menu */
    #menu-bar .panel {
      margin-bottom: 0;
      border: none;
      border-radius: 0;
      -webkit-box-shadow: none;
      -box-shadow: none;
    }

    #navbar-vertical {
      float: left;
      width: 200px; /* You can adjust the width to your liking, just remember to also adjust the content margin below accordingly */
      height: 100%;
      margin-top: 100px;
      padding-left: 15px;
    }

    .content {
      min-height: 100%;
    }

    .container {
      margin-left: 25px; /* We will add a little cushion to our content between the menu bar */
    }

    .shifted-content {
      margin-left: 200px; /* If you adjusted the width above you will need to adjust this as well */
    }
}

.taxonomy-select {
  list-style-type: none;
}